{% extends "base_login.html" %}
{% load static %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
<div class="login-card">
    <h2 class="login-title">Авторизация</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Имя пользователя</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Введите почту" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Введите пароль" required>
        </div>
        <button type="submit" class="btn-login">Войти</button>
    </form>
    {% if messages %}
        <div class="login-messages">
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}