<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ИС "Реестр предписаний"{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400;14..32,500;14..32,600;14..32,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app-container">
        <header class="app-header">
            <div class="logo-area">
                <h1>📋 Реестр предписаний</h1>
                <p>Новгородский муниципальный округ</p>
            </div>
            {% if user.is_authenticated %}
            <div class="user-bar">
                <span class="role-badge">{{ user.get_role_display }}</span>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Выйти</button>
                </form>
            </div>
            {% endif %}
        </header>

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <!-- Подключение JS -->
    
</body>
</html>